// Header

header,
footer {
	width: calc(100%);
	height: 50px;
	background-color: #fff;
	padding-top: 15px;
	text-align: center;
	h1 {
		margin: auto;
		height: 100%;
	}
	p {
		font-weight: bold;
	}
}

// Base

body {
	width: calc(100%);
	background-color: #e1f5fe;
	font-family: "Nunito", sans-serif;
	h2 {
		margin-top: auto;
	}
}

div {
	width: 400px;
	background-color: #fff;
	height: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: #212121 solid 2px;
	border-radius: 10px;
}

// buttons

button {
	background-color: #424242;
	color: #fff;
	border: none;
	border-radius: 3px;
	&:hover,
	&:focus {
		background-color: #616161;
	}
}

.green {
	background-color: #43a047;
	&:hover,
	&:focus {
		background-color: #4caf50;
	}
}

.light {
	background-color: #607d8b;
	&:hover,
	&:focus {
		background-color: #78909c;
	}
}

// Image box

#photo-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 5px;
	column-gap: 20px;
	margin-top: 10vh;
	img {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
	hr {
		width: 100%;
	}
	img,
	hr {
		grid-column-start: span 2;
	}
	button:nth-of-type(3) {
		grid-column-start: 2;
	}
}

// Form

#form {
	form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 5px;
		column-gap: 20px;
		padding: 15px;
		label,
		input {
			grid-column-start: span 2;
		}
		label {
			font-weight: bold;
			font-size: 1.5em;
		}
		button {
			grid-column-start: 2;
		}
		input {
			border: 1px solid #cfd8dc;
			background-color: #eceff1;
			border-radius: 2px;
		}
	}
}

// Email display

#email-display {
	width: 380px;
	display: none;
	grid-template-columns: 1fr 1fr;
	row-gap: 5px;
	column-gap: 20px;
	padding: 15px;
	h2 {
		grid-column-start: span 2;
	}
	button {
		grid-column-start: 2;
	}
}

// Collection

#collection {
	width: 380px;
	padding: 15px;
	img {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
}

#collection-img {
	border: none;
	width: auto;
	height: auto;
	margin-bottom: auto;
}
